<div class="row add-task">
    <div class="col s12 m12">
        <div class="card red lighten-4">
            <form action="#" id="add_task_form">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="task_name" type="text" class="validate">
                            <label for="task_name">Add here your task name</label>
                        </div>


                        <div class="input-field col s12">
                            <textarea id="task_description" class="materialize-textarea"></textarea>
                            <label for="task_description">Add here additional task description</label>
                        </div>
                    </div>
                </div>

                <div class="row add-task-footer">
                    <div class="col s11">

                    </div>
                    <div class="col s1">
                        <a class="btn-floating btn-large waves-effect waves-light red" id="task_button"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
