<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo ph-col-2">todo-typescript-client</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Server Sync</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="https://github.com/Defkil/todo-typescript-client">Github Repo</a></li>
        </ul>
    </div>
</nav>
